.shopping-cart{
    width: 40px;
    align-self: center;
    padding-bottom:15px;
    margin-left: 280px
}
.item-cart{
    color:white;
    padding-right: 16px;
    padding-top:10px;
    background:none;
    border:none;
    font-weight: bold;
}