.contenedor{
    display: inline;
    margin: 10px;
}
.card{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 330px;
    height: 300px;
    
}
.namestyle{
    font-size: 10px;
}