.nav{
    list-style-type: none;
    padding-top:10px;
    display: flex;
    align-content: flex-start;
    background-color: #2F0554;
    
}
.nav h1{
    padding-right: 150px;
    margin-right: 70px;
}
.nav-links{
    padding: 10px;
}
.nav a{
    margin-top: 20px;
    padding-left: 60px;
    text-decoration: none;
    color:#F6F0FB 
}
.nav a:hover{
    color:blueviolet;
}
.img-navbar{
    width: 100px;
}

