.nav{
    list-style-type: none;
    margin:10px;
    display: flex;
    align-content: flex-start;
    background-color: #F7F0DE;
}
.nav h1{
    font-size: 1.5rem;
    text-align: left;
    padding-right: 300px;
}
.nav-links{
    padding: 10px;
}
.nav a{
    text-decoration: none;
    color:black;
}
.nav a:hover{
    color:blueviolet;
}


