.CartItem-div {
    display: grid;
    grid-template-areas: "img itemName itemCantidad itemPrecio botonEliminar";
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 150px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.img {
    width: 180px;
    grid-area: img;
}

.itemName {
    font-size: 16px;
    grid-area: itemName;
}

.itemCantidad {
    font-size: 16px;
    grid-area: itemCantidad;
}

.itemPrecio {
    font-size: 16px;
    grid-area: itemPrecio;
}

.botonEliminar {
    grid-area: botonEliminar;
    border: none;
    margin-right: 20px;
    margin-bottom: 15px;
    background: none;
    width: 70%;
}